services:
  nginx:
    image: nginx:latest
    volumes:
      - ./www:/var/www
      - ./etc/nginx/conf.d:/etc/nginx/conf.d
    ports:
      - "80:80"
    depends_on:
      - php
  php:
    image: crow613/php-image-min:latest
    volumes:
      - ./www:/var/www
    depends_on:
      - db
  db:
    image: mysql:latest
    restart: always
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: movie
      MYSQL_USER: movieuser
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

volumes:
  db-data:
