.block-404{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    gap: 10px;
    padding-top: 250px ;
}
.block-404 h1{
    text-align: center;
    font-size: 50px;
    color: #ec0404;
}
.block-404 p{
    font-size: 50px;
    color: #ec0404;
}